In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
maps = pd.read_csv('../data/us-airports.csv')

In [8]:
maps.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,country_name,iso_country,...,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords,score,last_updated
0,#meta +id,#meta +code,#loc +airport +type,#loc +airport +name,#geo +lat,#geo +lon,#geo +elevation +ft,#region +continent +code,#country +name,#country +code +iso2,...,#loc +municipality +name,#status +scheduled,#loc +airport +code +gps,#loc +airport +code +iata,#loc +airport +code +local,#meta +url +airport,#meta +url +wikipedia,#meta +keywords,#meta +score,#date +updated
1,3632,KLAX,large_airport,Los Angeles International Airport,33.942501,-118.407997,125,NaN,United States,US,...,Los Angeles,1,KLAX,LAX,LAX,https://www.flylax.com/,https://en.wikipedia.org/wiki/Los_Angeles_Inte...,NaN,1335475,2020-04-26T22:37:22+00:00
2,3754,KORD,large_airport,Chicago O'Hare International Airport,41.9786,-87.9048,672,NaN,United States,US,...,Chicago,1,KORD,ORD,ORD,https://www.flychicago.com/ohare/home/pages/de...,https://en.wikipedia.org/wiki/O'Hare_Internati...,"CHI, Orchard Place",1503175,2018-09-16T02:35:35+00:00
3,3622,KJFK,large_airport,John F Kennedy International Airport,40.639801,-73.7789,13,NaN,United States,US,...,New York,1,KJFK,JFK,JFK,https://www.jfkairport.com/,https://en.wikipedia.org/wiki/John_F._Kennedy_...,"Manhattan, New York City, NYC, Idlewild",1052075,2021-04-10T17:02:47+00:00
4,3384,KATL,large_airport,Hartsfield Jackson Atlanta International Airport,33.6367,-84.428101,1026,NaN,United States,US,...,Atlanta,1,KATL,ATL,ATL,http://www.atlanta-airport.com/,https://en.wikipedia.org/wiki/Hartsfield–Jacks...,NaN,2002475,2018-09-19T14:50:01+00:00

In [9]:
maps.drop(0, inplace = True)
maps.reset_index(drop = True, inplace = True)

In [10]:
maps.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,country_name,iso_country,...,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords,score,last_updated
0,3632,KLAX,large_airport,Los Angeles International Airport,33.942501,-118.407997,125,NaN,United States,US,...,Los Angeles,1,KLAX,LAX,LAX,https://www.flylax.com/,https://en.wikipedia.org/wiki/Los_Angeles_Inte...,NaN,1335475,2020-04-26T22:37:22+00:00
1,3754,KORD,large_airport,Chicago O'Hare International Airport,41.9786,-87.9048,672,NaN,United States,US,...,Chicago,1,KORD,ORD,ORD,https://www.flychicago.com/ohare/home/pages/de...,https://en.wikipedia.org/wiki/O'Hare_Internati...,"CHI, Orchard Place",1503175,2018-09-16T02:35:35+00:00
2,3622,KJFK,large_airport,John F Kennedy International Airport,40.639801,-73.7789,13,NaN,United States,US,...,New York,1,KJFK,JFK,JFK,https://www.jfkairport.com/,https://en.wikipedia.org/wiki/John_F._Kennedy_...,"Manhattan, New York City, NYC, Idlewild",1052075,2021-04-10T17:02:47+00:00
3,3384,KATL,large_airport,Hartsfield Jackson Atlanta International Airport,33.6367,-84.428101,1026,NaN,United States,US,...,Atlanta,1,KATL,ATL,ATL,http://www.atlanta-airport.com/,https://en.wikipedia.org/wiki/Hartsfield–Jacks...,NaN,2002475,2018-09-19T14:50:01+00:00
4,3878,KSFO,large_airport,San Francisco International Airport,37.61899948120117,-122.375,13,NaN,United States,US,...,San Francisco,1,KSFO,SFO,SFO,http://www.flysfo.com/,https://en.wikipedia.org/wiki/San_Francisco_In...,"QSF, QBA",1112475,2008-06-13T14:30:04+00:00

In [11]:
maps['type'].value_counts()

small_airport     14250
heliport           7260
closed             4155
medium_airport      702
seaplane_base       597
large_airport       167
balloonport          29
Name: type, dtype: int64

In [12]:
maps.shape

(27160, 23)

In [13]:
maps['country_name'].value_counts()

United States    27160
Name: country_name, dtype: int64

In [22]:
maps = maps[(maps['type'] == 'small_airport') | (maps['type'] == 'medium_airport') | (maps['type'] == 'large_airport')]

In [23]:
maps.isnull().sum()

id                       0
ident                    0
type                     0
name                     0
latitude_deg             0
longitude_deg            0
elevation_ft           404
continent            15119
country_name             0
iso_country              0
region_name              0
iso_region               0
local_region             0
municipality            24
scheduled_service        0
gps_code              1391
iata_code            13239
local_code             900
home_link            14142
wikipedia_link       12883
keywords             13751
score                    0
last_updated             0
dtype: int64

In [26]:
maps = maps[~maps['iata_code'].isnull()]

In [27]:
maps.isnull().sum()

id                      0
ident                   0
type                    0
name                    0
latitude_deg            0
longitude_deg           0
elevation_ft            1
continent            1880
country_name            0
iso_country             0
region_name             0
iso_region              0
local_region            0
municipality            0
scheduled_service       0
gps_code               49
iata_code               0
local_code              4
home_link            1133
wikipedia_link        237
keywords             1467
score                   0
last_updated            0
dtype: int64

In [30]:
maps.drop(columns = ['id', 'ident', 'elevation_ft', 'continent', 'country_name', 'iso_country', 'region_name', 'iso_region',
                    'local_region', 'municipality', 'scheduled_service', 'gps_code', 'local_code', 'home_link', 'wikipedia_link', 'keywords',
                    'score', 'last_updated'], inplace = True)
maps.reset_index(drop = True, inplace = True)

In [31]:
maps.head()

,type,name,latitude_deg,longitude_deg,iata_code
0,large_airport,Los Angeles International Airport,33.942501,-118.407997,LAX
1,large_airport,Chicago O'Hare International Airport,41.9786,-87.9048,ORD
2,large_airport,John F Kennedy International Airport,40.639801,-73.7789,JFK
3,large_airport,Hartsfield Jackson Atlanta International Airport,33.6367,-84.428101,ATL
4,large_airport,San Francisco International Airport,37.61899948120117,-122.375,SFO

In [32]:
maps.shape

(1880, 5)

In [34]:
maps.rename(columns = {'latitude_deg': 'latitude', 'longitude_deg': 'longitude'}, inplace = True)

In [37]:
maps.describe()

,type,name,latitude,longitude,iata_code
count,1880,1880,1880,1880,1880
unique,3,1868,1877,1879,1880
top,small_airport,Capital City Airport,32.8525009155,-112.375999451,AVX
freq,1049,3,2,2,1

In [42]:
full_set = pd.read_parquet('../data/cleaned_delays_full.parquet')

In [43]:
full_set.head()

,year,month,day_of_week,fl_date,op_carrier,origin,origin_city_name,origin_state_nm,dest,dest_city_name,...,arr_time,arr_delay_new,crs_elapsed_time,actual_elapsed_time,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2021,5,2,2021-05-25,DL,TPA,Tampa,Florida,ATL,Atlanta,...,718.0,0.0,92.0,83.0,406.0,0,0,0,0,0
1,2021,5,1,2021-05-17,WN,LAX,Los Angeles,California,DAL,Dallas,...,1935.0,5.0,175.0,183.0,1246.0,0,0,0,0,0
2,2021,5,4,2021-05-27,AA,RDU,Raleigh/Durham,North Carolina,CLT,Charlotte,...,1210.0,247.0,73.0,71.0,130.0,1,0,0,0,0
3,2021,5,3,2021-05-05,DL,PHX,Phoenix,Arizona,DTW,Detroit,...,1747.0,0.0,234.0,208.0,1671.0,0,0,0,0,0
4,2021,5,1,2021-05-10,WN,HOU,Houston,Texas,LAS,Las Vegas,...,2050.0,10.0,195.0,188.0,1235.0,0,0,0,0,0

In [56]:
unique_codes = list(full_set['origin'].unique())

In [59]:
maps = maps[maps['iata_code'].isin(unique_codes)]
maps.reset_index(drop = True, inplace = True)

In [60]:
maps.shape

(370, 5)

In [61]:
maps.to_csv('../data/airport_lat_long.csv')